fastapi>=0.115.4  # FastAPI Framework
uvicorn>=0.32.0  # ASGI Server
pydantic>=2.9.2  # Data Validation
pydantic-settings>=2.0.0  # Settings Management
sqlalchemy>=2.0.0  # Database ORM
python-jose>=3.3.0  # JWT Token
passlib>=1.7.4  # Password Hashing
python-multipart  # Form Data Processing
python-dotenv>=1.0.0  # Environment Variables
certifi>=2024.2.2  # SSL Certificate
pyOpenSSL>=24.0.0  # SSL Library
pymysql>=1.0.2  # MySQL Connector
alembic>=1.14.0  # Database Migration
email-validator>=2.2.0  # Email Validation
Pillow>=11.0.0  # Image Processing
torch>=2.1.1  # PyTorch
torchvision>=0.20.1  # PyTorch Vision
tensorflow>=2.18.0  # TensorFlow
tensorflow-datasets>=4.9.7  # TensorFlow Datasets
scipy>=1.11.0
numpy>=1.24.0
pandas
matplotlib
fastapi-admin==1.0.4
aioredis==2.0.1
jinja2>=3.0.0
aiosqlite>=0.17.0
itsdangerous>=2.2.0
bson>=0.5.10